# Pi: ignore everything under .pi, then allowlist selected files/folders
/dotfiles/pi/.pi/**
!/dotfiles/pi/.pi/
!/dotfiles/pi/.pi/agent/
!/dotfiles/pi/.pi/agent/settings.json
!/dotfiles/pi/.pi/agent/powerline.json
!/dotfiles/pi/.pi/agent/git/
!/dotfiles/pi/.pi/agent/git/**
!/dotfiles/pi/.pi/agent/extensions/
!/dotfiles/pi/.pi/agent/extensions/**

# Local wezterm-only files
/dotfiles/wezterm/.config/wezterm/.claude/
/dotfiles/wezterm/.config/wezterm/*_bak
/dotfiles/wezterm/.config/wezterm/*_bak*
